@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  font-family: "Poppins", "Calibri", sans-serif;
  scroll-behavior: smooth;
  overflow: auto;
  font-size: calc(13px + 1vh);
}

header{
  text-align: center;
  margin-top: 2em;
  font-size: larger;
  font-weight: bold;
}

.header {
  background-color: #4361ee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw 1vw 1vw 1vw;
  height: 5vw;
}
.dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
  top: 0;
  bottom: 0;
  left: -15vw;
  width: 15vw;
  background-color: white;
  /* padding: 1vw 1vw; */
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.dropdown a {
  overflow: auto;
}
.menuToggler {
  height: 3.5vw;
  width: 3.5vw;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border-radius: 2px;
}
.hamburger {
  background: white;
  border-radius: 3px;
  width: 2vw;
  height: 0.3vw;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 3px;
  width: 2vw;
  height: 0.3vw;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}
.hamburger::after {
  transform: translateY(0.5vw);
}
.hamburger::before {
  transform: translateY(-0.5vw);
}
.menuToggler.open {
  margin-left: 15vw;
  position: fixed;
  top: 1vw;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.menuToggler.open .hamburger {
  transform: translateX(-50%);
  background: transparent;
  box-shadow: none;
}
.menuToggler.open .hamburger::after {
  transform: translateX(50%) rotate(45deg);
  background-color: #4361ee;
}
.menuToggler.open .hamburger::before {
  transform: translateX(50%) rotate(-45deg);
  background-color: #4361ee;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5vw;
  text-decoration: none;
  color: #4361ee;
  font-weight: bold;
  font-size: 4vw;
  transition: all 0.3s ease-out;
  width: 100%;
  padding: 1vw;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0.5vw;
}
.nav:hover {
  background-color: rgb(240, 240, 240);
  color: #3650c2;
  font-weight: bolder;
}
.dropdown.open {
  left: 0vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding: 1vw;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #4361ee;
  width: auto;
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
}

body {
  background-color: #efefef;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

.container {
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  align-content: space-around;
  overflow: visible;
  height: 60%;
}

.questions {
  background-color: #f84aa7;
  text-align: center;
  align-items: center;
  padding: 1.2em 0.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h2 {
  vertical-align: center;
  width: auto;
}

.answers {
  background-color: honeydew;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  width: auto;
}

.answers ul {
  text-align: left;
}

li {
  margin: 10px;
}

.button {
  width: 100%;
  background-color: #05f2d2;
  border: none;
  height: 7vh;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 800;
}

.button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.results {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  text-align: center;
  align-content: space-around;
  overflow: visible;
}

@media screen and (min-width: 650px) {
  .hamburger {
    display: none;
  }
  .header {
    display: none;
  }

  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    display: none;
  }

  .answers ul {
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .menuToggler,
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    min-width: 20px;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    height: 2px;
  }

  .header {
    height: 5vh;
    padding: 3vw;
  }

  .hamburger::after {
    transform: translateY(0.7vh);
  }
  .hamburger::before {
    transform: translateY(-0.7vh);
  }

  .menuToggler {
    min-height: 50px;
  }
}

@media screen and (max-width: 400px) {
  ul,
  li,
  .answers {
    font-size: xx-small;
    padding: 0;
    margin: 0;
  }

  .container {
    width: fit-content;
    block-size: fit-content;
    margin: 10%;
  }
}
