@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  font-family: "Poppins", "Calibri", sans-serif;
  scroll-behavior: smooth;
  overflow: auto;
}

.navbar {
  font-size: calc(13px + 1vh);
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #4361ee;
  width: auto;
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
}

.intro {
  display: box;
  padding: 9vh 2vw 5vh 2vw;
  font-size: calc(10px + 0.8vw);
  height: 60vh;
  background-color: #4361ee;
  color: aliceblue;
  background-image: url("./images/Hi2.png");
  background-repeat: no-repeat;
  background-position: right;
}

.intro h1,
h3 {
  padding: 1em;
}

.intro p {
  padding-left: 1.1em;
}

#educationHeader {
  margin: 3vh 2vw;
  font-size: calc(16px + 3vh);
}

.educationLeft {
  width: 43%;
  float: left;
  padding-left: 1em;
  vertical-align: middle;
}

.educationRight {
  width: 52%;
  float: right;
}

.education p {
  font-size: calc(19px + 1vw);
  font-weight: 900;
  margin: 1.2vh 0 0.5vh 0;
  font-weight: 900;
}

.education li {
  margin: 0.8vh 0 0.4vh 0;
}

.educationLeft img {
  width: 90%;
  height: 90%;
}

.work {
  background-color: #4361ee;
  padding-bottom: 4vh;
}

#workHeader {
  color: aliceblue;
  margin: 3vh 2vw;
  font-size: calc(16px + 3vh);
  font-weight: bolder;
}

.workLeft {
  width: 40%;
  float: left;
}

.rexroth {
  margin-left: 3vh;
  margin-bottom: 3vh;
  border-radius: 1em;
  height: 90%;
  width: 90%;
}

.workRight {
  width: 55%;
  padding-right: 1vw;
  float: right;
  color: aliceblue;
}

#projectsHeader {
  margin: 3vh 2vw;
  font-size: calc(16px + 3vh);
  font-weight: bolder;
}

.ppspan {
  margin: 3vh 2vw;
}

.gitHubProj {
  margin: 3vh 2vw;
  padding: 2vh 1vw;
  border: navy solid 0.2em;
  border-radius: 0.4em;
}

.gitHubProj a {
  font-weight: 800;
  color: blue;
}

.pp {
  background-color: #f4f1de;
  margin: 5px 0;
  padding: 3vh 1vw;
  border-radius: 1em;
}

footer h1 {
  margin: 3vh 2vw;
  font-size: calc(16px + 3vh);
  font-weight: bolder;
}

footer p {
  margin: 3vh 2vw;
  padding: 13px;
}

footer,
footer a {
  padding: 2vh 1vw;
  background-color: #4361ee;
  color: aliceblue;
}
