@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  font-family: "Poppins", "Calibri", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.header {
  background-color: #4361ee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw 1vw 1vw 1vw;
  height: 5vw;
}

.dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
  top: 0;
  bottom: 0;
  left: -15vw;
  width: 15vw;
  background-color: white;
  padding: 1vw 1vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.dropdown a {
  overflow: auto;
}

.menuToggler {
  height: 3.5vw;
  width: 3.5vw;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border-radius: 2px;
}

.hamburger {
  background: white;
  border-radius: 3px;
  width: 2vw;
  height: 0.3vw;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 3px;
  width: 2vw;
  height: 0.3vw;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}

.hamburger::after {
  transform: translateY(0.5vw);
}

.hamburger::before {
  transform: translateY(-0.5vw);
}

.menuToggler.open {
  margin-left: 15vw;
  position: fixed;
  top: 1vw;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.menuToggler.open .hamburger {
  transform: translateX(-50%);
  background: transparent;
  box-shadow: none;
}

.menuToggler.open .hamburger::after {
  transform: translateX(50%) rotate(45deg);
  background-color: #4361ee;
}

.menuToggler.open .hamburger::before {
  transform: translateX(50%) rotate(-45deg);
  background-color: #4361ee;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5vw;
  text-decoration: none;
  color: #4361ee;
  font-weight: bold;
  font-size: 4vw;
  transition: all 0.3s ease-out;
  width: 100%;
  padding: 1vw;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0.5vw;
}

.nav:hover {
  background-color: rgb(240, 240, 240);
  color: #3650c2;
  font-weight: bolder;
}

.dropdown.open {
  left: 0vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.navbar {
  font-size: calc(13px + 1vh);
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #4361ee;
  width: auto;
  border-bottom: 1px solid aliceblue;
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
}

.intro {
  padding: 2vw;
  font-size: calc(10px + 0.8vw);
  background-color: #4361ee;
  color: aliceblue;
  background-image: url("./images/Hi2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 60vh;
}
i {
  font-size: 1.5vw;
}
.intro h1,
h3 {
  padding: 1vw;
}

.intro p {
  padding-left: 1vw;
}
.edu {
  padding: 1vw;
}

.edu h1 {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.educontainer {
  display: flex;
  gap: 2em;
}

.left {
  width: 40%;
  padding-left: 1vw;
  vertical-align: middle;
}

.right {
  width: 65%;
  align-content: center;
  text-align: left;
  font-size: inherit;
}

.right ul,
p {
  padding: 0 1vw;
}

.placement {
  padding: 1vw;
  background-color: #4361ee;
  color: aliceblue;
}

.workcontainer {
  display: flex;
  gap: 1em;
}

.leftwork img {
  width: 100%;
  padding: 2vw;
  border-radius: 1.8em;
}

.leftwork {
  width: 35%;
  padding-left: 1vw;
  vertical-align: middle;
}

.rightwork {
  width: 60%;
  padding-top: 2vw;
}

.rightwork h5 {
  margin-left: 2em;
}

.morepadding ul {
  justify-content: left;
}

@media screen and (min-width: 650px) {
  .hamburger {
    display: none;
  }
  .header {
    display: none;
  }

  .menuToggler,
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .educontainer {
    flex-direction: column;
    padding-bottom: 2vh;
  }

  .menuToggler,
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    min-width: 20px;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    height: 2px;
  }

  .header {
    height: 5vh;
    padding: 3vw;
  }

  .hamburger::after {
    transform: translateY(0.7vh);
  }
  .hamburger::before {
    transform: translateY(-0.7vh);
  }

  .menuToggler {
    min-height: 50px;
  }

  .edu {
    word-wrap: break-word;
  }

  .left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .right {
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: calc(10px + 1vw);
    margin: auto;
    width: auto;
  }

  .right h2 {
    text-align: center;
  }

  .right ul {
    margin-left: 10px;
  }

  .right p {
    text-decoration: underline;
    padding-top: 1em;
    text-align: center;
  }

  .edu h1 {
    text-align: center;
    font-size: calc(16px + 3vw);
  }

  .workcontainer {
    flex-direction: column;
    padding-bottom: 2vh;
    word-wrap: break-word;
  }

  .leftwork {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .leftwork img {
    border-radius: 1em;
    image-rendering: auto;
  }

  .rightwork h5 {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 0;
    word-wrap: break-word;
    font-size: calc(10px + 1vw);
  }

  .rightwork {
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
  }

  .placement h1 {
    text-align: center;
    padding: 1vh;
    font-size: calc(14px + 1vw);
  }

  .rightwork ul {
    font-size: calc(10px + 1vw);
    padding: 2em;
  }
  .morepadding ul {
    margin-left: 13px;
    padding: 0;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    display: none;
  }

  .nav {
    font-size: xx-small;
  }
}
