/* To make navigation for induvidual page styles easier, few comments have been made.
   You can use the Find option (Ctrl + F) in your text editor and navigate to individual sections.
   1. Navbar
   2. Home
   3. Quiz App
   4. Weather API
   This was done on suggestion to have reusable(use only once) code.
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Calibri", sans-serif;
  scroll-behavior: smooth;
  overflow: auto;
}
/* Navbar */
.header {
  background-color: #4361ee;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1vw 1vw 1vw 1vw;
  height: 5vw;
}
  
.dropdown {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.3s ease-out;
  top: 0;
  bottom: 0;
  left: -17vw;
  width: 15vw;
  background-color: white;
  padding: 1vw 1vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
 }
  
.dropdown a {
  overflow: auto;
}
  
.menuToggler {
  height: 3.5vw;
  width: 3.5vw;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border-radius: 2px;
}
  
.hamburger {
  background: white;
  border-radius: 3px;
  width: 2vw;
  height: 0.3vw;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
  
.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  background: white;
  border-radius: 3px;
  width: 2vw;
  height: 0.3vw;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
}
  
.hamburger::after {
  transform: translateY(0.5vw);
}
  
.hamburger::before {
  transform: translateY(-0.5vw);
}
  
.menuToggler.open {
  margin-left: 27vw;
  position: fixed;
  top: 1vw;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
  
.menuToggler.open .hamburger {
  transform: translateX(-50%);
  background: transparent;
  box-shadow: none;
}
  
.menuToggler.open .hamburger::after {
  transform: translateX(50%) rotate(45deg);
  background-color: #4361ee;
}
  
.menuToggler.open .hamburger::before {
  transform: translateX(50%) rotate(-45deg);
  background-color: #4361ee;
}
  
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5vw;
  text-decoration: none;
  color: #4361ee;
  font-weight: bold;
  font-size: 4vw;
  transition: all 0.3s ease-out;
  width: 100%;
  padding: 1vw;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0.5vw;
}
  
.nav:hover {
  background-color: rgb(240, 240, 240);
  color: #3650c2;
  font-weight: bolder;
}
  
.dropdown.open {
  left: 0vw;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  width: 25%;
}
  
.navbar {
  font-size: calc(13px + 1vh);
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: #4361ee;
  width: auto;
  border-bottom: 1px solid aliceblue;
}
  
.navbar a {
  text-decoration: none;
  color: aliceblue;
}
  
/* Home */
.intro {
  padding: 2em;
  background-color: #4361ee;
  color: aliceblue;
  background-image: url("./images/Hi2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 60vh;
}

.placement{
  background-color: #4361ee;
  color: aliceblue;
}

/* Quiz App */

header{
  text-align: center;
}

.instructions {
  background-color: #fff;
  margin: 2em auto 1em auto;
  text-align: left;
  border: 2px solid rgb(230, 67, 94);
  border-radius: 1em;
  padding:1em;
}

.container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  align-content:space-around;
  width: 70%;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.2);
  border-radius: 10px;
}

.questions{
  font-weight: bold;
  color: #f2f7f2;
  text-align: center;
  align-content: space-around;
  padding: 1.2em 0.5em;
  background-color: #f84aa7;
}

.answers {
  display: flex;
  background-color: aliceblue;
  text-align:left;
  justify-content: center;
}

.button {
  width: 100%;
  background-color: #05f2d2;
  border: none;
  height: 7vh;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: 800;
}

.results{
  text-align: center;
  margin-top: 1.5em;
}

/* Todo List */

.todoHead{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1.4em auto;
  justify-content: center;
  font-weight: bolder;
  font-size: calc(14px + 2vw);
}

form {
  text-align: left;
  max-width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todoInput{
  margin: 2vw auto;
  border: 2px solid;
  border-radius: 0.5em;
  height: 35px;
  width: 50%;
  text-align: center;
}

.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-align: center;
}

.todos li{
  background-color: #f4f1de;
  border: 2px solid #4361ee;
  border-radius: 4px;
  padding: 15px;
}

.completed {
  text-decoration: line-through;
}

.add{
  margin: 0 auto;
  margin-bottom: 1em;
  border: 2px solid;
  border-radius: 0.5em;
  height: 30px;
}

footer {
  margin: 3em auto;
  text-align: center;
  font-size: xx-small;
  font-weight: bold;
  color: #ff6d00;
} 

/* Weather API */

.weatherlist {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin: 1em;
}

.weather {
  border-radius: 10px;
  padding: 1.4vh;
  font-size: calc(10px + 1vh);
  align-items: center;
  text-align: center;
  background-color: #1c2d75;
  color: azure;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.next {
  display: flex;
  margin: 10px auto;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 1vh;
  font-size: calc(8px + 1vh);
  background-color: #44d2eb;
  color: azure;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  width: 85%;
}

.time,
.city {
  font-size: calc(5px + 1vh);
}

.nexttable {
  padding: 5px;
  background-color: ivory;
  color: #0e509c;
  border-radius: 6px;
  width: 90%;
}

.inp{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #0e509c;
  border-radius: 6px;
  width: 45vw;
  padding: 0.4em;
}

.iconimg {
  background-color: rgb(77, 161, 194);
  border-radius: 50%;
}

.info{
  display: flex;
  flex-direction: column;
  margin: 1em auto;  
  text-align: center;
  align-items: center;
}

.info .weather{
  width: 200px;
}

@media screen and (min-width:10px) {
  /* Navbar */
  .menuToggler,.hamburger,.hamburger::before,.hamburger::after {
    min-width: 20px;
  }

  .hamburger,.hamburger::before,.hamburger::after {
    height: 2px;
  }

  .header {
    height: 5vh;
    padding: 3vw;
  }

  .hamburger::after {
    transform: translateY(0.7vh);
  }
  .hamburger::before {
    transform: translateY(-0.7vh);
  }

  .menuToggler {
    min-height: 40px;
  }

  .header {
    border-bottom: 0.2vw solid aliceblue;
  }

  .navbar{
    display: none;
  }
/* Home */
  .placement{
    align-content: center;
    justify-content: center;
  }
  
  .leftwork{
    display: flex;
    justify-content: space-evenly;
  }

  .leftwork img{
    width: 90%;
    border-radius: 1em;
  }
}

@media screen and (min-width:280px) {

  /* Home */
  .intro{
    padding: 1em 2em;
    background-size: contain;
    background-position-y: bottom;
    align-items: flex-start;
    height: 50vh;
  }

  .intro h3{
    font-size: 2.5vh;
    padding: 1em 0;    
  }
  .intro h1{
    font-size: 3.5vh;
    padding: 1em 0; 
  }
  .intro p{
    font-size: 2.5vh;
    padding: 1em 0; 
  }

  .intro h1, .introh3, .intro p{
    padding-bottom: 1em;
  }

  .edu{
    padding: 0.8em;
  }

  .edu h1{
    margin: 0;
  }

  .left{
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  .right{
    width: 100%;
  }

  .edu h1{
    text-align: center;
    font-size: 2em;
  }

  .right h2{
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
  }

  .right li{
    text-align: left;
    font-size: 13px;
  }

  .placement h1{
    text-align: center;
    margin: 1em;
    font-size: 30px;
  }

  .workcontainer{
    display: flex;
    flex-direction: column;
  }

  .leftwork{
    width: 80%;
    padding: 1em;
    border-radius: 1em;
    margin: 0 auto;
  }
  
  .leftwork img{
    border-radius: 1em;
    width: 90%;
  }

  .rightwork{
    width: 100%;
    font-size: 13px;
  }

  .rightwork h5{
    text-align: center;
  }

  .rightwork ul{
    padding: 1em;
    list-style: disc;
  }

  .dropdown{
    left: -20vw;
  }
  
  .navbar{
    font-size: calc(13px + 1vh);
  }

  /* Quiz App */
  .container{
    width: 82%;
  }

  .questions{
    padding: 0.8em 0.3em;
  }
  .answers{
    justify-content: flex-start;
    padding: 1em;
  }

  .inp{
    width: 75vw;
  }
}

@media screen and (min-width:460px) {
  /* Quiz App */
  .answers{
    padding:1em;
    justify-content: center;
  }

  .container{
    width: 70%;
  }
  
  .instructions{
    text-align: center;
    width: 60%;
  }
  
  .inp{
    width: 55vw;
  }
}

@media screen and (min-width:550px) {
/* Navbar */
  .header{
    display: none;
  }

  .navbar{
    display: flex;
  }
  .dropdown{
    display: none;
  }  

  .inp{
    width: 400px;
  }
}

@media screen and (min-width:800px) {
    /* Home */
  .educontainer{
    width: 100%;
    display: flex;
    gap: 1em;
  }

  .left{
    margin-top: 2em;
    width: 50%;
  }
  .leftimg{
    width: 100%;
  }

  .right{
    width: 60%;
  }

  .placement h1{
    text-align: center;
    margin: 1em;
    font-size: 30px;
  }

  .workcontainer{
    display: flex;
    gap: 1em;
    flex-direction: row;
  }

  .leftwork{
    margin-top: 1em;
    width: 40%;
  }
  
  .leftwork img{
    border-radius: 6px;
  }    

  .rightwork{
    margin-top: 1em;
    width: 50%;
    align-items: flex-start;
    text-align: left;
  }

  /* Quiz App */
  .container{
    width: 40%;
  }
}
